@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, 'Segoe UI', sans-serif; 
    margin: 0;
    min-height: 100vh;
}

.header, 
.footer {
    background: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a, 
.text {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    padding: 16px 150px 72px;
    display: flex;
    flex-direction: column;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: center;
}

.hero {
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.media {
    display: flex;
    align-items: flex-start;
    height: 250px;
}

.flipped {
    flex-direction: row-reverse;
}

.media .subcontent {
    flex: 1;
}

.subcontent {
    width: 450px;
    margin-right: 48px;
    margin-bottom: 8px;
}

.image {
    width: 450px;
    margin-left: 32px;
    flex: 1;
}

.image img {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 250px;
    display: block;
}

.info {
    max-width: 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

button.top {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.subcontent .text {
    width: 450px;
    margin-right: 48px;
    margin-bottom: 8px;
}

.info img {
    width: 100px;
    height: 100px;
}