body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

.header {
    background: #1f2937;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 200px;
    height: 150px;
}

.info {
    max-width: 200px;
}