body {
    font-family: -apple-system, Roboto;
}

.header {
    background: #1f2937;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 200px;
    height: 150px;
}

.info {
    max-width: 200px;
}